                
        <div class="row">
     

              <P>
                <a href="/topics/<%= g.id %>"><%= simple_format g.content %></a>
                
              </p>

            </div>


            <p class="time">
                  <a href="/users/<%= g.user.username %>"><%= g.user.username %></a>
                  发表于 <%= time_ago_in_words(g.created_at) %>前


<% if g.owner?(current_user) %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_topic_path(g), :class => 'btn btn-default', method: :get %>
<% end %>

            </p>




                  

                
