<%= form_for @topic, :html => { :class => "form-horizontal topic" } do |f| %>

    <% if @topic.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @topic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>





  <div class="control-group">

    <div class="controls">
      <%= f.text_area :content, :class => 'form-control', :placeholder => '输入您的需求', rows: 5, :required => true %>

      <% if params[:action] == 'new' %>

      <p id="c-b">
        <% @users.each do |u| %>
        <input type="checkbox" name="noticers[]" value="<%= u.id %>" /> <%= u.username %>
        <% end %>
      </p>

      <% end %>


    </div>
    <%= error_span(@topic[:content]) %>
  </div>





  <%= f.submit nil, :class => 'btn btn-primary', :value => '提交' %>
  <%= link_to t('.cancel', :default => t("取消")),
            topics_path, :class => 'btn btn-default' %>

<% end %>
