



  <div class="panel-body">


      <ul class="list-group">


          <li class="list-group-item">

            <%= render 'topics/each_share', :g => @topic %>
          </li>

          


      </ul>


      <p>


<% if @notice || @topic.owner?(current_user) %>

        <ul class="list-group">

          <% @topic.notice_comments.each do |comment|  %>
          <li class="list-group-item">
            <%= comment.content %>
            <p><a href="/users/<%= comment.user.username %>"><%= comment.user.username %></a>
                  发表于 <%= time_ago_in_words(comment.created_at) %>前</p>
          </li>
          <% end %>

          


        </ul>



            <%= form_for @notice_comment, :html => { :class => "form-horizontal" } do |f| %>

  <div class="control-group">

    <div class="controls">
      <%= f.text_area :content, :class => 'form-control', :placeholder => '输入您的回复', rows: 5, :required => true %>

      <%= f.hidden_field :user_id, :value => current_user.id %>


      <%= f.hidden_field :topic_id, :value => @topic.id %>
    </div>
    <%= error_span(@topic[:content]) %>
  </div>


              <%= f.submit nil, :class => 'btn btn-primary', :value => '提交' %>
            <% end %>


<% end %>

      </p>



  </div>
